---
import Background from '@atoms/Background.astro';
import Badge from '@atoms/Badge.astro';
const { name, description, alt, img } = Astro.props;
---

<section
  class="group p-3 rounded-3xl overflow-hidden aspect-[9/14] relative max-w-60 grid grid-cols-1 grid-rows-2 hover:p-2 hover:cursor-cell"
>
  <Background
    class="absolute inset-0 -z-[1] w-full h-full bg-gradient-to-bl from-white/5 via-cyan-100/15 to-sky-300/5 min-h-auto"
  />
  <div
    id="tooltip-jese"
    role="tooltip"
    class="absolute z-20 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-500 bg-gray-900 rounded-lg shadow-xs opacity-0 tooltip dark:bg-gray-700"
  >
    {name}
    <div class="tooltip-arrow" data-popper-arrow></div>
  </div>
  <img
    data-tooltip-target="tooltip-jese"
    class="aspect-square group-hover:aspect-[9/14] w-full h-auto object-cover object-top rounded-xl transition-all duration-700 group-hover:rounded-2xl"
    src={img}
    alt={alt}
  />
  <div
    class="flex flex-col gap-y-4 justify-end relative px-2 h-fit self-end z-10 py-3 text-white text-shadow text-sm group-hover:px-3 group-hover:py-4"
  >
    <Background
      class="absolute inset-0 -z-[1] w-full h-full bg-gradient-to-t from-white via-cyan-100/5 to-transparent min-h-auto blur-xl backdrop-blur-sm group-hover:rounded-b-2xl"
    />
    <h3 class="flex gap-4">
      {name}
      <Badge class="text-nowrap" text="UI Designer" />
    </h3>
    <p>{description}</p>
  </div>
</section>
